<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            TASKS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab vertical="top" horizontal="end" slot="fixed" routerLink="add">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-item *ngFor="let task of taskService.getAllTasks()" routerLink="details/{{task.title}}">


            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option (click)="favorite(task)">Favorite</ion-item-option>
                    <ion-item-option color="danger" (click)="share(task)">Share</ion-item-option>
                </ion-item-options>

                <ion-icon *ngIf="task.icon == 'MAIL'" name="mail-outline"></ion-icon>
                <ion-icon *ngIf="task.icon == 'MEETING'" name="chatbubbles-outline"></ion-icon>
                <ion-icon *ngIf="task.icon == 'WORK'" name="alarm-outline"></ion-icon>
                <ion-icon *ngIf="task.icon == 'SHOP'" name="cart-outline"></ion-icon>
                <ion-label>{{task.title}} </ion-label>
                <ion-label>{{task.date}}</ion-label>
                <ion-label>{{task.status?'DONE':'TODO'}}</ion-label>

                <ion-item-options side="end">
                    <ion-item-option (click)="unread(task)">Unread</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-item>
    </ion-list>

</ion-content>



<!--  <ion-card>-->
<!--    <ion-card-header>-->
<!--      Archived Tasks-->
<!--    </ion-card-header>-->

<!--    <ion-list>-->

<!--      <ion-item *ngFor="let item of doneTasks">-->

<!--        <ion-label color="light">{{item.Name}} </ion-label>-->
<!--        <ion-checkbox name="chk" (click)="checkDoneItem(item.Id)" [checked]="item.IsDone" ></ion-checkbox>-->

<!--      </ion-item>-->

<!--    </ion-list>-->
<!--  </ion-card>-->
